<table class="table table-condensed table-striped">
  <thead>
    <tr>
        <td colspan="2">
        <b><%= link_to "Lists", lists_path %> / <%= @list.name.titleize %></b>
        </td>
      </tr>
      <tr><td colspan="2"><%= form_for [@list, @todo] do |f| %>
        <%= f.text_field :description %>
        <%= f.submit "Add todo", class: "btn btn-primary " %>
        <% end %>
        </td>
      </tr>
    <tr>
      <th>Description</th>
      <th>Time left before deletion</th>
    </tr>
  </thead>
  <tbody>
  <%= form_for :todo, url: todos_complete_path(:list_id => params[:id]) do |f| %>

  <% @todos.each do |t| %>
    <tr>
      <td>
         <% if t.status == true %>
       <span style="color:grey;"> <%= check_box_tag "todos_checkbox[]", t.id %>  <strike><%= t.description %></strike> </span>
        <% else %>
       <%= check_box_tag  "todos_checkbox[]", t.id %> <%= t.description %>
        <% end %>
      </td>
      <td>
        <%= time_left(t) %>
      </td>
    </tr>
  <% end %>
  <tr><td colspan="2">
  <%= submit_tag("Complete Todos", :class=>"btn btn-success") %></td></tr>
  <% end %>
  </tbody>
</table>